# IMPORTING LIBRARIES

In [1]:
import pandas as pd

In [2]:
type(pd)

module

In [3]:
pd.__version__

'1.1.3'

# CREATING SERIES WITH LIST

In [5]:
lst=[1,0,-1,"a","m",9.2,0.98,True,False]

In [9]:
type(lst)

list

In [6]:
lst

[1, 0, -1, 'a', 'm', 9.2, 0.98, True, False]

In [48]:
list_s=pd.Series(lst)

In [49]:
list_s

0        1
1        0
2       -1
3        a
4        m
5      9.2
6     0.98
7     True
8    False
dtype: object

In [50]:
type(list_s)

pandas.core.series.Series

# EMPTY SERIES

In [13]:
empty_s=pd.Series([])

<ipython-input-13-585408552d73>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([])

In [14]:
empty_s

Series([], dtype: float64)

In [15]:
type(empty_s)

pandas.core.series.Series

# CUSTOMIZING INDEX AND NAME AND DATATYPE OF SERIES

In [51]:
series1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [52]:
series1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [53]:
series2=pd.Series([1,2,3,4],index=['m','n','o','p'],dtype=float,name='data values')

In [54]:
series2

m    1.0
n    2.0
o    3.0
p    4.0
Name: data values, dtype: float64

In [136]:
series2.index.name='sec'

In [137]:
series2

sec
m    1.0
n    2.0
o    3.0
p    4.0
Name: data values, dtype: float64

In [138]:
series2.name='population'

In [139]:
series2

sec
m    1.0
n    2.0
o    3.0
p    4.0
Name: population, dtype: float64

# SCALER SERIES

In [20]:
scaler_s=pd.Series(0.5,index=['a','b','c','d'])

In [21]:
scaler_s

a    0.5
b    0.5
c    0.5
d    0.5
dtype: float64

# CHANGING INDEX OF SERIES AFTER CREATING

In [128]:
scaler_s.index=[1,2,3,4]

In [129]:
scaler_s

1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64

# CREATING SERIES WITH DICT

In [121]:
dct={'a':1,'c':3,'d':4,'b':2}

In [122]:
dct

{'a': 1, 'c': 3, 'd': 4, 'b': 2}

In [123]:
type(dct)

dict

In [124]:
dct

{'a': 1, 'c': 3, 'd': 4, 'b': 2}

In [125]:
dict_s=pd.Series(dct)

In [126]:
dict_s

a    1
c    3
d    4
b    2
dtype: int64

In [127]:
type(dict_s)

pandas.core.series.Series

# ACCESSING VALUES OF SERIES

In [31]:
len(dict_s)

4

In [29]:
dict_s[0]

1

In [32]:
dict_s[3]

4

In [30]:
for i in range(len(dict_s)):
    print(dict_s[i])

1
2
3
4

In [35]:
dict_s[1:3]

b    2
c    3
dtype: int64

In [71]:
dict_s>2

a    False
b    False
c     True
d     True
dtype: bool

In [72]:
type(dict_s>2)

pandas.core.series.Series

In [73]:
dict_s[dict_s>2]

c    3
d    4
dtype: int64

In [74]:
type(dict_s[dict_s>2])

pandas.core.series.Series

In [107]:
dict_s.values

array([1, 2, 3, 4], dtype=int64)

In [108]:
dict_s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [109]:
dict_s['c']=9

In [110]:
dict_s

a    1
b    2
c    9
d    4
dtype: int64

In [112]:
dict_s[['b','c','a']]

b    2
c    9
a    1
dtype: int64

In [113]:
dict_s[1:3]

b    2
c    9
dtype: int64

In [114]:
dict_s[dict_s>3]

c    9
d    4
dtype: int64

In [115]:
dict_s*2

a     2
b     4
c    18
d     8
dtype: int64

In [116]:
import numpy as np

In [117]:
np.exp(dict_s)

a       2.718282
b       7.389056
c    8103.083928
d      54.598150
dtype: float64

In [118]:
import math

In [120]:
(math.e)**9

8103.08392757538

# SOME BASIC ARITHMETIC FUNCTIONS PRACTICE

In [36]:
max(dict_s)

4

In [37]:
min(dict_s)

1

In [41]:
sum(dict_s)

10

In [43]:
avg=sum(dict_s)/len(dict_s)
avg

2.5

In [55]:
list_s

0        1
1        0
2       -1
3        a
4        m
5      9.2
6     0.98
7     True
8    False
dtype: object

In [57]:
dict_s

a    1
b    2
c    3
d    4
dtype: int64

In [56]:
list_s+dict_s

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
a    NaN
b    NaN
c    NaN
d    NaN
dtype: object

In [58]:
dict_s+list_s

a    NaN
b    NaN
c    NaN
d    NaN
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
dtype: object

In [62]:
series3=pd.Series([1,2,3,4,10])

In [63]:
series4=pd.Series([5,6,7,8])

In [64]:
series3+series4

0     6.0
1     8.0
2    10.0
3    12.0
4     NaN
dtype: float64

In [65]:
series4+series3

0     6.0
1     8.0
2    10.0
3    12.0
4     NaN
dtype: float64

In [66]:
series3-series4

0   -4.0
1   -4.0
2   -4.0
3   -4.0
4    NaN
dtype: float64

In [67]:
series3*series4

0     5.0
1    12.0
2    21.0
3    32.0
4     NaN
dtype: float64

In [68]:
series3/series4

0    0.200000
1    0.333333
2    0.428571
3    0.500000
4         NaN
dtype: float64

In [69]:
series3//series4

0    0.0
1    0.0
2    0.0
3    0.0
4    NaN
dtype: float64

In [70]:
series3%series4

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

# CREATING SERIES WITH TUPLE

In [77]:
lst2=[1,2,3,4,5,6]
tuple1=tuple(lst2)

In [78]:
tuple1

(1, 2, 3, 4, 5, 6)

In [81]:
type(tuple1)

tuple

In [79]:
tup_s=pd.Series(tuple1)

In [80]:
tup_s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [82]:
type(tup_s)

pandas.core.series.Series

# WE CAN'T CREATE SERIES WITH SET BECAUSE 'SET' TYPE IS UNORDERED

In [83]:
set1=set(lst2)

In [84]:
set1

{1, 2, 3, 4, 5, 6}

In [85]:
type(set1)

set

In [86]:
set_s=pd.Series(set1)

TypeError: 'set' type is unordered

# CREATING SERIES WITH NUMPY ARRAY

In [87]:
import numpy as np

In [88]:
arr1=np.array([1,2,3,4,5,6,7])

In [89]:
arr1

array([1, 2, 3, 4, 5, 6, 7])

In [90]:
type(arr1)

numpy.ndarray

In [91]:
arr_s=pd.Series(arr1)

In [92]:
arr_s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

# CREATING SERIES WITH STRING

In [93]:
str1="abhishek"

In [94]:
str1

'abhishek'

In [95]:
str_s=pd.Series(str1)

In [96]:
str_s

0    abhishek
dtype: object

In [103]:
s=[]
for i in str1:
    s.append(i)
print(s)

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [105]:
str_s=pd.Series(s)

In [106]:
str_s

0    a
1    b
2    h
3    i
4    s
5    h
6    e
7    k
dtype: object

# DETECT MISSING VALUES IN SERIES WITH ISNULL AND NOTNULL

In [146]:
series5=pd.Series([1,2,0,'k','',None,False,True,0.8])

In [147]:
series5

0        1
1        2
2        0
3        k
4
5     None
6    False
7     True
8      0.8
dtype: object

In [148]:
pd.isnull(series5)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
dtype: bool

In [143]:
pd.notnull(series5)

0     True
1     True
2     True
3     True
4     True
5    False
6     True
7     True
8     True
dtype: bool

In [144]:
series5.isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
dtype: bool

In [145]:
series5.notnull()

0     True
1     True
2     True
3     True
4     True
5    False
6     True
7     True
8     True
dtype: bool

In [149]:
series5.isnull().sum()

1

In [150]:
series5.notnull().sum()

8